div {
  border: 1px solid #999;
  text-align: center;
}

div:nth-child(1){
  height: 75px;
  line-height: 75px;
}

div:nth-child(2){
  height: 150px;
  line-height: 150px;
}

div:nth-child(3), div:nth-child(4){
  height: 125px;
  line-height: 125px;
}

div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8){
  height: 250px;
  line-height: 250px;
  width: 50%;
  float: left;
}

div:nth-child(9){
  height: 80px;
  line-height: 80px;
  float: left;
  width: 100%;
} 

@media only screen and (min-width: 768px){

  body{
    width: 960px;
    overflow: hidden;
    margin: auto;
  }

  div:nth-child(1){
    height: 100px;
    line-height: 100px;
  }
  
  div:nth-child(2){
    height: 600px;
    line-height: 600px;
    width: 200px;
    float: left;
  }

  div:nth-child(3), div:nth-child(4){
    height: 200px;
    line-height: 200px;
    width: 380px;
    float: right;
  }

  div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8){
    width: 190px;
    line-height: 250px;
  }

  div:nth-child(9){
    height: 150px;
    line-height: 150px;
    width: 760px;
  }
}